name: Fetch data for last month
on:
    schedule:
        - cron: 0 0 1 * *

jobs:
    fetch:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: oven-sh/setup-bun@v1
            - run: bun install
            - run: bun run fetch-month
    build-website:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: oven-sh/setup-bun@v1
            - run: bun install
            # run the build-website command to the gh-pages branch
            - uses: peaceiris/actions-gh-pages@v3
            with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
              publish_dir: ./dist
              publish_branch: gh-pages


