name: Fetch data for last month

on:
    schedule:
        - cron: 0 0 1 * *
    workflow_dispatch:

jobs:
    fetch-data:
        permissions:
            contents: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
            - name: Install dependencies
              run: npm install
            - name: "Create env file"
              run: |
                  echo "${{ secrets.ENV_FILE }}" > .env
            - uses: kota65535/github-openvpn-connect-action@v2
              with:
                  config_file: ${{ secrets.VPN }}
            - name: Fetch data for last month
              run: npm run fetch-month
